.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}