.submit {
    margin: 1em auto;
}

.response {
    background-color: rgb(22, 21, 21);
    color: rgb(243, 202, 126);
    height: 500px;
    resize: none;
}

.request {
    background-color: rgb(22, 21, 21);
    color: rgb(64, 167, 69);
    resize: none;

}

.token {
    background-color: rgb(22, 21, 21);
    color: rgb(215, 218, 64);
    resize: none;
}

.prop-title {
    margin: 1em 0;
}

.nested-prop {
    margin-left: 10%;
}

.input {
    margin: 0;
}

.form-control {
    margin: 1em 0;
}

textarea {
    margin: 2em auto;
}