@import url('./containers.css');
@import url('./tables.css');
@import url('./forms.css');
@import url('./box.css');
@import url('./buttons.css');
@import url('./header.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.w-100 {
    width: 100%;
}

.bg-deepBlue {
    background-color: rgb(65, 107, 145);
}

.about>div {
    width: 40vw;
}

.title {
    margin: 1em;
}

.main {
    font-size: 50px;
}

.category {
    margin-bottom: 2em;
    height: fit-content;
}

.api-text {
    width: 50%;
}

.bigger {
    font-size: x-large;
}

.token-title {
    margin-top: 1em;
}

.info {
    margin: auto;
}